<%- include partials/header -%>
    <h1>About</h1>
    <p>
        <%= as %>
    </p>
    <div class="siteunder"><img src="https://i.imgur.com/yKzShCu.png" alt=""></div>
    <%- include partials/footer -%>